      html, body { 
        height: 100%; width: 100%; margin: 0; 
      } 
      body{
        background-color:white; overflow:hidden; 
        font-family: "Trebuchet MS"; 
      }
      input[type=checkbox]
        {
          /* Double-sized Checkboxes */
          -ms-transform: scale(1.5); /* IE */
          -moz-transform: scale(1.5); /* FF */
          -webkit-transform: scale(1.5); /* Safari and Chrome */
          -o-transform: scale(1.5); /* Opera */
          padding: 10px;
        }
      #header {
        background-image: url(../images/banner.jpg); background-repeat: repeat-x;
        margin: 2px;
        border: solid 4px #224a54;
        color:white; font-size:18pt; 
        text-align:left; font-weight:bold; height:70px;
      }
      #headerLeft {
          clear: both;
          float: left;
      }
      #subheader {
        font-size:small;
        color:white;
        padding-left:20px;
      }
      #headerRight {
          float: right;
          font-size:small;
          color:white;
          padding-left:20px;
          text-align: right;
      }
      #rightPane{
        background-color:white;
        color:#3f3f3f;
        border: solid 2px #224a54;
        width:20%;
      }
      #leftPane{
        margin: 5px;
        padding:2px;
        background-color:white;
        color:#3f3f3f;
        border: solid 2px #224a54;
        width:20%;
     }
      #mapDiv {
        margin: 5px;
        border:solid 4px #224a54;
        -moz-border-radius: 4px;
        padding: 0;
        margin: 0;
        height: 100%;
      }
      #footer {
        margin: 2px;
        border: solid 2px #224a54;
        background-color:#ecefe4;color:#3f3f3f;
       font-size:10pt; text-align:center; height:40px;
      }
      .dijitTabInnerDiv{
        background-color:#ecefe4;
      }
      #tabs{
        padding:5px;
      }
      
      #HomeButton {
      position: absolute;
      top: 100px;
      left: 20px;
      z-index: 50;
    }
    #LocateButton {
      position: absolute;
      top: 140px;
      left: 20px;
      z-index: 50;
    }
      
    #header-tool {
        left: 100px;
        overflow: auto;
        padding: 0.5em;
        position: absolute;
        z-index: 50;
        margin: 5px;
        border:solid 1px #224a54;
        -moz-border-radius: 1px;
        background-color: #D3D3D3;
      }
      #header-tool button {
            padding: 0 0.3em;
            text-align: center;
            -moz-user-select: none;
            cursor: pointer;
            background-repeat: repeat-x;
            white-space: nowrap;
            background-color: #BCD8F4;
            background-image: linear-gradient(#FFFFFF 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
            background-repeat: repeat-x;
            border: 1px solid #759DC0;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            color: #000000;
            padding: 2px 4px 4px;
            font-size: 0.9em;
      }
      
      #header-tool button.down {
        background: #bbb;
        border-top: solid 2px #777;
        border-left: solid 2px #777;
        border-bottom:solid 2px  #eaeaea;
        border-right: solid 2px #eaeaea;
        }
    
        #header-tool button.clearall {
            padding: 0 0.3em;
            text-align: center;
            -moz-user-select: none;
            cursor: pointer;
            background-repeat: repeat-x;
            white-space: nowrap;
            background-color: #FFA07A;
            background-image: linear-gradient(#FFFFFF 0px, rgba(255, 255, 255, 0) 3px, rgba(255, 255, 255, 0.75) 100%);
            background-repeat: repeat-x;
            border: 1px solid #759DC0;
            border-radius: 4px 4px 4px 4px;
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
            color: #000000;
            padding: 2px 4px 4px;
            font-size: 0.9em;
      }
#selectorTopDiv {
    margin:4px;
   
    float:left;
}

#selectorTopDiv label {
    float:left;
    width:60px;
    margin:2px;
    border:1px solid #D0D0D0;
    overflow:auto;
    cursor: pointer;   
}


#selectorTopDiv label span {
    text-align:center;
    font-size: 15px;
    padding:10px 0px;
    display:block;
}

#selectorTopDiv label input {
    position:absolute;
    top:-20px;
}

#selectorTopDiv input:checked + span {
    background-color:#404040;
    color:#F7F7F7;
}

#selectorTopDiv .yellow {
    background-color:#FFCC00;
    color:#333;
}

#selectorTopDiv .blue {
    background-color:#00BFFF;
    color:#333;
}

#selectorTopDiv .pink {
    background-color:#FF99FF;
    color:#333;
}

#selectorTopDiv .green {
    background-color:#A3D900;
    color:#333;
}
#selectorTopDiv .purple {
    background-color:#B399FF;
    color:#333;
}

#selectorContentDiv {
    clear: both;
    background-color: lightgrey;
    border-radius: 10px;
    padding: 10px;
}

#selectorContentDiv input.radio {
    
    margin-top: 10px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding: 5px;
}

#selectorContentDiv label {
    margin:4px;
    border:1px solid #D0D0D0;
    font-size:large;
}


#cutoutInfoDiv {
    margin-top: 20px;
    background-color: lightsteelblue;
    height: 200px;
    border-radius: 10px;
    padding: 10px;
}